.header-contacts {
  display: flex;
  margin-left: auto;
}

.header-contacts__item {
  margin-right: 30px;

  &:last-child {
    margin-right: 0;
  }
}

.header-contacts__link {
  @extend %centeredItems;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--prime-color);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.header-contacts__icon {
  margin-right: 10px;
  fill: currentColor;

  &:hover,
  &:focus {
    fill: var(--accent-color);
  }
}
