.header {
  border-bottom: 1px solid #ececec;
}

.header__container {
  position: relative;

  @media screen and (max-width: 767px) {
    padding-top: 16px;
    padding-bottom: 16px;
  }

  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
  }
}

.header__nav {
  @media screen and (max-width: 767px) {
    display: flex;
    justify-content: space-between;
  }

  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
  }
}

// ================================

// .header {
//   border-bottom: 1px solid #ececec;
// }

// .header__container {
//   @extend %centeredItems;
// }

// .header__nav {
//   @extend %centeredItems;
// }
